.sect1 {
  overflow: hidden;
  position: relative;
  .title {
    position: relative;
    top: 0;
    left: -80px;
    width: 1233px;
    height: 424px;
    z-index: 10;
  }
  .tit {
    color: $primary;
    font-size: 220px;
    line-height: 86%;
    position: absolute;
    top: -35px;
    left: -21px;
  }

  .sub-tit {
    color: $secondary;
    font-size: 120px;
    position: absolute;
    top: 112px;
    left: 510px;
  }
  .box {
    // height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }
  .name {
    color: $secondary;
    font-size: 60px;
    line-height: 66px;
  }
  .copyright {
    color: $secondary;
    line-height: 18px;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 40px;
  }
  .sub-txt-box {
    margin-right: 200px;
    display: flex;
    align-items: flex-end;
    position: relative;
    &:before {
      position: absolute;
      top: 110px;
      right: 140px;
      content: "";
      width: 36.458vw;
      height: 1px;
      background: rgb(239, 219, 180, 0.5);
    }
  }
  .sub-txt {
    color: $primary;
    line-height: 25px;
    font-size: 25px;
    z-index: 0;
  }
  .line {
    width: 100vw;
    height: 1px;
    background: rgb(239, 219, 180, 0.5);
    position: absolute;
  }
  .line-1 {
    transform: rotate(90deg);
    top: 180px;
    left: -9.01vw;
  }
  .line-2 {
    top: 50px;
    left: 0;
  }
  .line-3 {
    transform: rotate(90deg);
    top: 180px;
    left: 587px;
  }
  .line-4 {
    transform: rotate(90deg);
    top: 180px;
    left: -650px;
  }
}
.sect2 {
  background: $primary;
}
