.sect1 {
  overflow: hidden;
  position: relative;
  .title {
    position: relative;
    top: 0;
    left: -80px;
    width: 1233px;
    height: 424px;
    z-index: 10;
  }
  .tit {
    color: $primary;
    font-size: 200px;
    line-height: 86%;
    position: absolute;
    top: 200px;
    right: -205px;
    // top: 70px;
    // left: -5px;
    // top: -35px;
    // left: -21px;
  }
  .tit-2 {
    color: $primary;
    font-size: 180px;
    line-height: 86%;
    position: absolute;
    bottom: -130px;
    right: -204px;
  }
  .sub-tit {
    color: rgb(239, 219, 180, 0.6);
    font-size: 100px;
    font-family: "Allura", cursive;
    position: absolute;
    bottom: -200px;
    right: -170px;
  }
  .box {
    // height: 150px;
    width: 1000px;
    // width: 1100px;
    display: flex;
    justify-content: space-between;
    // margin-top: 150px;
    margin-top: -150px;
    margin-left: 50px;
    // margin-right: 160px;
  }
  .name-upper {
    color: $secondary;
    font-size: 19px;
    line-height: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  .name {
    color: $secondary;
    font-size: 55px;
    line-height: 60px;
  }
  .copyright {
    color: $secondary;
    line-height: 18px;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 40px;
  }
  .sub-txt-box {
    margin-top: 60px;
    margin-right: 220px;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      position: absolute;
      top: 50px;
      right: 170px;
      content: "";
      // width: 40vw;
      width: 23vw;
      // width: 30vw;
      height: 1px;
      background: rgb(239, 219, 180, 0.5);
    }
  }
  .sub-txt {
    color: $secondary;
    line-height: 25px;
    font-size: 25px;
    z-index: 0;
  }
  .line {
    width: 100vw;
    height: 1px;
    background: rgb(239, 219, 180, 0.25);
    position: absolute;
  }
  .line-1 {
    // transform: rotate(90deg);
    top: 730px;
    left: 0vw;
  }
  .line-2 {
    top: 50px;
    left: 0;
  }
  .line-3 {
    transform: rotate(90deg);
    top: 180px;
    left: 405px;
    // left: 587px;
  }
  .line-4 {
    transform: rotate(90deg);
    top: 180px;
    left: -650px;
  }
}
.sect2 {
  background: $primary;
}
