.sect1 {
  overflow: hidden;
  position: relative;
  display: flex;
  .title {
    position: relative;
    top: 0;
    right: -3.555vw;
    // right: -80px;
    width: 100%;
    height: 454px;
    z-index: 0;
  }
  .tit {
    color: $primary;
    font-size: 200px;
    line-height: 86%;
    position: absolute;
    top: 220px;
    right: -15px;
    // top: 70px;
    // left: -5px;
    // top: -35px;
    // left: -21px;
  }
  .tit-2 {
    color: $primary;
    font-size: 180px;
    line-height: 86%;
    position: absolute;
    bottom: -130px;
    right: -14px;
  }
  .sub-tit {
    color: rgb(239, 219, 180, 0.6);
    font-size: 100px;
    font-family: "Allura", cursive;
    position: absolute;
    bottom: -200px;
    right: -170px;
  }
  .box {
    // height: 150px;
    width: 1000px;
    // width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: -1.388vw;
    // margin-top: -20px;
    // margin-top: 150px;
    // margin-top: -150px;
    margin-left: 50px;
    // margin-right: 160px;
  }
  .name-upper {
    color: $secondary;
    font-size: 19px;
    line-height: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  .name {
    color: $secondary;
    font-size: 55px;
    line-height: 60px;
  }
  .copyright {
    color: $secondary;
    line-height: 18px;
    font-size: 14px;
    position: absolute;
    // top: 314px;
    top: 144px;
    // top: 194px;
    // right: -164px;
    right: -129px;
    transform: rotate(90deg);
    letter-spacing: 2px;
    &::after {
      position: absolute;
      right: -171px;
      top: -142px;
      content: "";
      display: block;
      width: 1px;
      height: 300px;
      background: rgb(239, 219, 180, 0.5);
      transform: rotate(90deg);
    }
  }
  .sub-txt-box {
    margin-top: 60px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      position: absolute;
      top: 50px;
      right: 190px;
      content: "";
      // width: 40vw;
      width: 331px;
      // width: 23vw;
      // width: 30vw;
      height: 1px;
      background: rgb(239, 219, 180, 0.5);
    }
  }
  .sub-txt {
    color: $secondary;
    line-height: 25px;
    font-size: 25px;
    font-weight: 700;
    z-index: 0;
  }

  .line {
    width: 100vw;
    height: 1px;
    background: rgb(239, 219, 180, 0.25);
    position: absolute;
  }
  .line-1 {
    // transform: rotate(90deg);
    top: 730px;
    left: 0vw;
  }
  .line-2 {
    top: 290px;
    // top: 170px;
    left: 0;
  }
  .line-3 {
    transform: rotate(90deg);
    top: 180px;
    left: 405px;
    // left: 587px;
  }
  .line-4 {
    transform: rotate(90deg);
    top: 180px;
    left: -650px;
  }
}
.sect2 {
  display: flex;
  background: $primary;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }
  .txt-fst {
    display: inline;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: $white;
    position: relative;
    .black {
      color: $black;
    }
  }
  .next {
    position: absolute;
    top: 45px;
    left: 153px;
  }
  .next-after {
    position: absolute;
    top: 0;
    right: 355px;
  }
  .txt-sec {
    font-size: 45px;
    font-weight: 800;
    color: $black;
  }
  #type-text {
    color: $white;
  }
}
