@import "variables", "mixins", "fonts", "reset";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
* {
  cursor: none;
}
a {
  cursor: none;
}
body {
  overflow: hidden;
  font-family: $font-family;
}
.section {
  height: 100vh;
  background: #000;
}
.inner {
  max-width: 1280px;
  max-height: 700px;
  margin: 0 auto;
  height: 100vh;
}
.fp-table {
  display: block;
}
// .fp-is-overflow .fp-overflow.fp-auto-height-responsive,
// .fp-is-overflow .fp-overflow.fp-auto-height,
/* .fp-is-overflow >  */
.fp-overflow {
  overflow: hidden;
}

.blinking-cursor {
  display: inline;
  text-align: center;
  font-weight: 250;
  font-size: 40px;
  color: #2e3d48;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@import "main";
